<html>

<head>
</head>

<body>
    <div class="container-aside">
        <aside>

            <!-- Main Menu -->
            <nav id="component-menu" class="main-menu">
                <ul>
                    <li>
                        <a [routerLink]="['/cpf-component']"> Cliente </a>
                    </li>
                    <li>
                        <a [routerLink]="['/menu-opção 1']"> Opçao 1 </a>
                    </li>
                    <li>
                        <a [routerLink]="['/menu-opçao 2']"> Opção 2 </a>
                    </li>
                </ul>

            </nav>

        </aside>

    </div>
</body>

<!-- <p align="center"><a [routerLink]="['/logout']">Voltar</a></p> -->

<button [routerLink]="['/logout']" class="btn btn-primary">Voltar</button>


</html>